//Importar fuente
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


// Declaración la variable a utilizar en el resto del fichero de estilo
$primary-color: #e6e8ea;
$font-type: 'Roboto';

//Estilos para documento html
html{
  width: 1280px;
  margin: auto;  
}

// Estilos del header y navegación
header {
    background: rgba(0, 0, 0, 0.6);
    padding: 1rem;
    display: flex;
    align-items: center;
    font-family: $font-type;
    font-size: 1.25rem;
  
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      
      .logo {
        height: 50px; // Ajusta el tamaño del logo según sea necesario
        margin-right: 1.5rem;
      }
  
      ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        justify-content: space-between;
  
        li {
          margin-left: 1.5rem;
  
          a {
            color: white;
            text-decoration: none;
            &:hover {
              color: $primary-color;
            }
          }
        }
      }
    }
  }

// Estilos de la sección principal con imagen de fondo
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), 
                url('../images/index_background_v2.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-family: $font-type;
    margin-bottom: 0px;
    padding-bottom: 0px;
  
    .hero-content {
      max-width: 600px;
  
      h1 {
        font-size: 3rem;
      }
  
      p {
        font-size: 1.5rem;
        color:white;
        font-family: $font-type;
      }
    }
}

// Estilos de el pie de página
footer {
  display: flex;
  background: rgba(0, 0, 0, 0.6);
  font-family: $font-type;
  font-size: 1rem;
  color: white;
  padding: 0rem 1rem;
  justify-content: space-between;
  align-items: center;
  height: 18vh;

  p {
    margin: 0.5rem 0 0 0;
  }

  img {
    max-width: 250px;
    margin: 0 0 0 0;
  }
}
  
// Estilos para diseño responsive
@media (max-width: 768px) {
    header {
      nav ul {
        flex-direction: column;
        align-items: flex-end;
      }
    }
  
    .hero-content {
      h1 {
        font-size: 2rem;
      }
  
      p {
        font-size: 1rem;
      }
    }
}
  