footer
  div#footer-text.footer   
    p Santiago Martín-Palomo García
    p Máster Universitario en Desarrollo de Sitios y Aplicaciones Web 
    p M4.257 - Herramientas HTML y CSS 
        
  div#footer-logo.footer 
    a(href="index.pug") 
    img(src="./assets/images/LogoUOC_bn.png" alt="Logo UOC" class="logo")
