doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Almonaster la Real
    link(rel="stylesheet" href="./assets/css/styles.scss")
  body
    include header.pug

    main
        section.index-main-section
            .index-content
                h1 Bienvenidos a Almonaster la Real
                p Uno de los pueblos más bonitos de España y situado en la Sierra de Huelva, en pleno Parque Natural de Aracena y Picos de Aroche.

    include footer.pug