doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Almonaster la Real
    link(rel="stylesheet" href="styles.scss")
  body
    //include header.pug
    header
    nav.standar
        div#logo.nav
            a(href="index.pug") 
                img(src="../images/Logo_Almonaster-A.png" alt="Logo de Almonaster la Real" class="logo")
        div#menu.nav
            ul
                li
                    a(href="presentacion.html") Presentación
                li
                    a(href="categoria.html") Categoría
                li
                    a(href="enlaces.html") Enlaces

    main
        section.index-main-section
            .index-content
                h1 Bienvenidos a Almonaster la Real
                p Uno de los pueblos más bonitos de España y situado en la Sierra de Huelva, en pleno Parque Natural de Aracena y Picos de Aroche.

                .index-carrusel
                    .carrusel 
                        img(src="../images/Almonaster-la-real-1-1.jpg" alt="Foto 1" class="active")
                        img(src="../images/iglesia-san-martin-almonaster-la-real.jpg" alt="Foto 2")
                        img(src="../images/fuente_de_concejo.jpg" alt="Foto 3")
                        img(src="../images/index_background_v1.jpg" alt="Foto 4")
                        img(src="../images/index_background_v2.jpg" alt="Foto 5")
                        img(src="../images/index_background_v3.jpg" alt="Foto 6")
                        img(src="../images/mequita-de-almonaster-la-real.jpg" alt="Foto 7")
                        img(src="../images/Mezquita_de_al-Monastir_Haram.jpg" alt="Foto 8")
                        img(src="../images/plaza-constitucion-almonaster-la-real.jpg" alt="Foto 9")
                    
                    button.prev &lt;
                    button.next &gt;

                script(src="../js/script.js")


    include footer.pug